<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
</head>
<body>
<h3>All Albums</h3>

<div th:each="album : ${albums}">
    <!--<h3 th:id="${album.id}" th:text="${album.title}">Album Title</h3>
    <h3 th:id="${album.id}" th:text="${album.title}">Album Title</h3>-->
    <p>
        <a th:href="${ '/albums/' + album.id}">Album Title: <span th:text="${album.title}"></span></a>
    </p>
    <ul style="list-style-type:none">
        <li><b>Artist:</b> <span th:id="${album.artist}" th:text="${album.artist}"></span></li>
        <li><b>Song Count:</b> <span th:id="${album.songcount}" th:text="${album.songcount}"></span> songs</li>
        <li><b>Length:</b> <span th:id="${album.length}" th:text="${album.length}"></span> seconds</li>
        <li>
            <img th:src="${album.imageurl}" alt="cover image" width="100">
        </li>
    </ul>
</div>
<div>
    <form method="POST" action="/albums">

            <legend>Add a New Album</legend>

                <label>Title: </label><input type="text" name="title"/>
                <label>Artist: </label><input type="text" name="artist"/>
                <label>Song Count: </label><input type="number" name="songcount"/>
                <label>Length: </label><input type="number" name="length"/>
                <label>Image URL: </label><input type="text" name="imageurl"/>
                <input type="submit"/>


        </form>
</div>


</body>
</html>